<div class="row d-flex justify-content-center mt-4">
  <div class="col-3 ms-2 border border-secondary p-3">
          <h3 class="text-center">Password Generator</h3>
          <hr>
          <div class="mb-3">
            <label class="form-label">Enter Length</label>
            <input (input)="onChangeLength($any($event.target).value)" class="form-control">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" (change)="onChangeUseLetters()" class="form-check-input" >
            <label class="form-check-label">Use Letters</label>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" (change)="onChangeUseNumbers()" class="form-check-input" >
            <label class="form-check-label">Use Numbers</label>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" (change)="onChangeUseSymbols()" class="form-check-input" >
            <label class="form-check-label">Use Symbols</label>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary mb-2" [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
            (click)="onButtonClick()">Generate!</button>
          </div>
          <div class="m-3" *ngIf="password">
            <label class="form-label">Your Password</label>
            <input [value]="password" class="form-control">
          </div>
    </div>
  </div>


